*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cader{
    width: 100%;
    min-height: 100vh;
    background:black  
}
.itardakhili{
   width: 800px;
   height: 180px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);  
}
.lwe9te{
     background-color:black;
     width: 100%;
     height: auto;
     font-size: 2em;
     padding: 2em;
     text-align: center;
     font-size: 3rem;
     color: #2E4374;
     letter-spacing: 10px;
     border: transparent  ;
     box-shadow: 0 0 20px goldenrod;
     border-radius: 10px;
}
.date{
    background-color: black ;
    color: goldenrod;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 75%;
    left: 40%;
    padding: 2em;
}
.lwe9te span{
    color: goldenrod;
    font-size: 80px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    justify-content: center;
}


